# Checks style, syntax, and other useful errors.
flake8

# Static type checking
mypy>=1.0,<1.2

# Automatic code formatting
black>=23.0,<24.0
isort>=5.12,<5.13

# Running tests
pytest
pytest-sphinx

# Allows generation of coverage reports with pytest.
pytest-cov

# Needed for packaging and uploading to PyPi
twine>=1.11.0
setuptools
wheel

# Building docs
Sphinx>=4.3.0,<6.2.0

# Sphinx theme: https://sphinx-themes.org/sample-sites/furo/
furo==2022.12.7

# Lets Sphinx parse markdown files in addition to rst.
myst-parser>=0.15.2,<0.19.0

# Adds a copy button to code examples in the docs.
sphinx-copybutton==0.5.1

# Live rebuilding and reloading of docs for developing locally.
sphinx-autobuild==2021.3.14

# Automatically adds types to docs
sphinx-autodoc-typehints

# For parsing and comparing version numbers.
packaging
